<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCLVQsSfeL18_mggCLPFdu7GtYSraI5KQU</string>
	<key>GCM_SENDER_ID</key>
	<string>1036707976082</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.incitec</string>
	<key>PROJECT_ID</key>
	<string>incitec-5ebe0</string>
	<key>STORAGE_BUCKET</key>
	<string>incitec-5ebe0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1036707976082:ios:861748eee12cce8e9c674b</string>
</dict>
</plist>